body {
    margin: 0;
}

footer {
    background-color: #e0ffa8;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
}

footer div {
    /* float: right; */
    width: 70px;
    height: 70px;
    background-color: red;
}

.content {
    margin: 40px;
    position: relative;
    background-color: aqua;
    border: 1px solid black;
    width: 300px;
    height: 200px;
}

.edge {
    width: 250px;
    height: 250px;
    left: 0;
    z-index: 10;
    bottom: 0;
    background-color: gray;
    position: absolute;
}

.edge .center {
    height: 100px;
    width: 100px;
    background-color: orange;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

.content .edge {
    width: 50px;
    height: 50px;
    right: 0;
    left: auto;
    z-index: 10;
    top: 0;
    background-color: black;
}

.topedge {
    background-color: #e0ffa8;
    width: 100px;
    height: 100px;
    left: -20px;
    z-index: 10;
    top: -20px;
    margin-right: 10px;
    background-color: rgb(63, 63, 63);
    position: absolute;
}

.content .top .left {
    background-color: greenyellow;
    width: 50%;
    height: 100%;
}

.content .top .right {
    background-color: blue;
    width: 50%;
    height: 100%;
}

.top {
    margin: 0;
    /* height: 100px; */
    height: 70%;
    display: flex;
}

.bottom {
    height: 30%;
    background-color: orange;
}