header {
    background-color: greenyellow;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-between;
}

.left {
    height: 70px;
    width: 70px;
    margin: 45px;
    background-color: green;
}

.right {
    display: flex;
}

.right div {
    height: 50px;
    width: 50px;
    background-color: green;
    margin: 50px;
}

.content {
    position: relative;
    margin: 50px;
    background-color: violet;
    height: 300px;
    width: 400px;
}

.edge {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: greenyellow;
    width: 90px;
    height: 90px;
}

.content .edge {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    left: 0;
    z-index: 10;
    bottom: 0%;
}