body {
    margin: 0;
}

footer {
    background-color: #e0ffa8;
    color: #ffffff;
    padding: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 15%;
    margin-right: 15%;
}

footer div {
    /* float: right; */
    width: 70px;
    height: 70px;
    background-color: red;
}

.content {
    margin: 40px;
    position: relative;
    /* top: 20px;
    left: 20px; */
    background-color: aqua;
    border: 1px solid black;
    padding-left: 20px;
    padding-top: 20px;
    width: 300px;
    height: 400px;
}

.edge {
    background-color: #e0ffa8;
    width: 100px;
    height: 100px;
    right: 0;
    z-index: 10;
    bottom: 0;
    background-color: green;
    position: absolute;
}

.topedge {
    background-color: #e0ffa8;
    width: 100px;
    height: 100px;
    left: -20px;
    z-index: 10;
    top: -20px;
    margin-right: 10px;
    background-color: rgb(63, 63, 63);
    position: absolute;
}